In [86]:
import pandas as pd
import numpy as np
from datetime import datetime

## Pilots

In [102]:
n_pilots = 50
pilot_fields = ['sex', 'bd', 'p9', 'p10', 'p11', 'p12', 'p13', 'p14', 'trend']

In [103]:
pilots = pd.DataFrame(np.zeros((n_pilots, len(pilot_fields))), columns=pilot_fields)

In [104]:
pilots['sex'] = np.random.randint(0,2, n_pilots)

In [105]:
base_date = np.datetime64('1960-01-01')
pilots['bd'] = base_date + np.random.randint(0, 365*35, n_pilots)

In [106]:
pilots.iloc[:, 2:8] = np.random.randint(50, 71, (n_pilots, 6))

In [107]:
pilots['trend'] = np.random.randint(-3, 4, n_pilots)

In [108]:
#pilots

In [109]:
pilots.to_excel('Pilots.xlsx')

## Aircrafts

In [244]:
n_aircrafts = 5
aircrafts_fields = ['Name']

In [245]:
aircrafts = pd.DataFrame(np.zeros((n_aircrafts, len(aircrafts_fields))), columns=aircrafts_fields)

In [246]:
aircrafts_names = np.arange(100, 1000)
aircrafts['Name'] = np.random.choice(aircrafts_names, n_aircrafts, replace=False)

In [247]:
# aircrafts

In [248]:
aircrafts.to_excel('Aircrafts.xlsx')

## Flights

In [251]:
flight_fields = ['pilot_id', 'aircraft_id', 'date', 'weather', 'time', 'duration',
                 'sex', 'age', 'p9', 'p10', 'p11', 'p12', 'p13', 'p14']

In [236]:
f = pd.Series(index=flight_fields)

In [233]:
d = base_date + 100
d

numpy.datetime64('2017-04-11')

In [256]:
delta = d - np.datetime64('1960-01-01')
int(delta.astype('timedelta64[Y]').__str__().split()[0])

57

In [243]:
f.sex = datetime.date(2017, 1, 2)
f

TypeError: descriptor 'date' requires a 'datetime.datetime' object but received a 'int'

In [234]:
def rand(low, high):
    return np.random.random() * (high - low) + low

In [ ]:
datetime.date()

In [265]:
pilot = pilots.loc[0, :]
ts = pilot['bd'].__str__().split()[0]
ts

'1981-04-27 00:00:00'

In [264]:
ts.__str__()

'1981-04-27 00:00:00'

In [280]:
base_date = np.datetime64('2017-01-01')

flights = pd.DataFrame(columns=flight_fields)

for day_of_year in range(0, 366):
    date_repeat = np.random.randint(1, 2)
    curdate = base_date + day_of_year
    
    for i in range(date_repeat):
        f = pd.Series(index=flight_fields)
        
        f.pilot_id = np.random.choice(pilots.index.values)
        pilot = pilots.loc[f.pilot_id, :]
        
        f.aircraft_id = np.random.choice(aircrafts.index.values)
        f.date = curdate.__str__()
        f.weather = np.random.randint(0, 2)
        f.time = np.random.randint(0, 2)
        f.duration = np.random.randint(90, 601)
        
        f.sex = pilot['sex']
        birthdate = np.datetime64(pilot['bd'].__str__().split()[0])
        f.age = int((curdate - birthdate).astype('timedelta64[Y]').__str__().split()[0])
        
        trend = pilot['trend']
        
        for feature in ['p9', 'p10', 'p11']:
            f[feature] = (pilot[feature] 
                          + trend * day_of_year * rand(-0.005, 0.01)
                         )
            if f[feature] < 20:
                f[feature] = np.random.randint(10, 21)
            elif f[feature] > 95:
                f[feature] = np.random.randint(95, 101)
            else:
                f[feature] = f[feature].astype(int)
        
        for feature in ['p12', 'p13', 'p14']:
            f[feature] = (pilot[feature] 
                          + trend * day_of_year * rand(-0.005, 0.01)
                          + f['weather'] * rand(-5, 1)
                          + f['time'] * rand(-5, 1)
                          + f['duration'] * rand(-0.001, 0)
                          + f['sex'] * rand(-2, 5)
                          + f['age'] * rand(-0.05, 0.1)
                          + f['p9'] * rand(0, 0.03)
                          + f['p10'] * rand(0, 0.03)
                          + f['p11'] * rand(0, 0.03)
                         )
            if f[feature] < 20:
                f[feature] = np.random.randint(10, 21)
            elif f[feature] > 95:
                f[feature] = np.random.randint(95, 101)
            else:
                f[feature] = f[feature].astype(int)
                
        flights = flights.append(f, ignore_index=True)

In [282]:
flights.head(5)

,pilot_id,aircraft_id,date,weather,time,duration,sex,age,p9,p10,p11,p12,p13,p14
0,45.0,0.0,2017-01-01,1,0,318,1,31,52,61,60,56,65,54
1,21.0,4.0,2017-01-02,1,1,116,0,47,50,51,61,60,61,58
2,15.0,1.0,2017-01-03,0,1,471,1,53,65,68,64,59,70,61
3,16.0,0.0,2017-01-04,1,1,449,1,38,52,52,61,57,48,70
4,47.0,0.0,2017-01-05,1,0,296,1,22,54,56,59,72,57,63

In [284]:
flights.to_excel('Flights.xlsx')